<h3 style="text-align: center">F.A.Q Tanya Jawab Seputar Cara Daftar PayTren</h3>

<div class="tren-question__content" style="margin-bottom: 3em">
    <button class="qa-button">Apakah yang dimaksud dengan lisensi PayTren itu?<i class="icon-down qa-icon"></i></button>
    <div class="panel">
        <p>Lisensi adalah hak penggunaan aplikasi PayTren. Setiap pembeli lisensi akan mendapatkan fitur dan manfaat sesuai dengan jenis lisensi yang dipilih.</p>
    </div>
    <button class="qa-button">Apakah Lisensi terbatas KP25 bisa menjalankan peluang bisnis PayTren?<i class="icon-down qa-icon"></i></button>
    <div class="panel">
        <p>BELUM BISA! Lisensi terbatas KP25 adalah lisensi TRIAL dikhususkan bagi calon mitra yang ingin menjadi pengguna PayTren dengan memiliki dana terbatas.</p>
        <p>Untuk menjalankan bisnis PayTren, pengguna lisensi terbatas harus upgrade dulu ke paket lisensi penuh ( basic ) dengan membeli lisensi UPGRADE PENGGUNA.</p>
    </div>
    <button class="qa-button">Apakah Lisensi KP25 berlaku selamanya? Dan Bisa Upgrade ke Lisensi Penuh?<i class="icon-down qa-icon"></i></button>
    <div class="panel">
        <p>Ya! Lisensi berlaku selamanya. Anda dapat melakukan transaksi pulsa, voucher games dan sedekah. Artinya juga bisa memutuskan UPGRADE ke LISENSI PENUH kapan saja dengan bimbingan dan bantuan sponsor.</p>
    </div>
    <button class="qa-button">Apakah ada batasan maksimal Deposit untuk Lisensi terbatas KP25?<i class="icon-down qa-icon"></i></button>
    <div class="panel">
        <p>Ada! Anda hanya bisa melakukan isi ulang deposit transaksi maksimal 100.000/ hari. Dengan deposit mengendap maksimal 1 juta. Deposit mengendap artinya ketika sudah mencapai batas maksimum deposit yaitu 1 juta. maka tidak bisa ditambahkan deposit lagi. Anda harus mengurangi deposit dengan cara digunakan untuk transaksi sehingga berkurang dan bisa di isi deposit transaksi kembali.</p>
    </div>
     <button class="qa-button">Apakah maksud Deposit mengendap 1 juta di lisensi penuh?<i class="icon-down qa-icon"></i></button>
    <div class="panel">
        <p>Deposit mengendap artinya ketika sudah mencapai batas maksimum deposit yaitu 1 juta. maka tidak bisa ditambahkan deposit lagi. Khusus bagi mitra Paytren lisensi penuh yang belum melakukan verifikasi KTP, maka maksimal deposit mengendap hanya 1 juta saja. Sedangkan apabila sudah terverifikasi maka kapasitas deposit mengendap akan naik menjadi 5 juta. Silahkan baca disini cara verifikasi KTP</p>
    </div>
    <button class="qa-button">Apakah maksud maksimal Transaksi 20 juta itu?<i class="icon-down qa-icon"></i></button>
    <div class="panel">
        <p>Maksimal transaksi maksudnya anda bisa melakukan transaksi sesuai fitur yang tersedia, isi pulsa, bayar tagihan, beli tiket dll sampai batas maksimum 20 juta./ bulan. Berlaku khusu bagi mitra yang sudah terverifikasi perusahaan. Apabila mitra paytren belum melakukan verifikasi maka batas maksimum transaksi perbulan hanya 4 juta.</p>
    </div>
</div>