<div class="tren-page cover-image is-cover-fixed" style="background-image: url({{ $baseurl := .Site.BaseURL }}/images/paytren-banner.jpg)">
    <div class="tren-cover tren-cover--space container">
        <div class="tren-info is-fixed-content">
           <h3 class="tren-info__text tren-attention"><span class="warning-color">Wow!</span> Peluang Berharga ini berpotensi MELEDAKKAN tambahan INCOME Anda hingga PULUHAN JUTA RUPIAH per bulan!</h3>
            <h2 class="tren-info__text tren-headline headline--space"><span class="warning-color">Ambil peluang ini!</span> Karena Anda akan menghasilkan banyak uang, tanpa keluar rumah, tanpa Ribet, tanpa harus banyak modal!</h2>
            <h3 class="tren-info__text tren-attention">"Kerja mudah, Hasil berkah, Harta jadi melimpah"</h3>
            <h4 class="tren-info__text tren-tips"><span class="warning-color">"Dimana lagi coba, Anda bisa mendapatkan sebuah produk yang tidak hanya memberi manfaat 
serta solusi kemudahan dalam hidup saja, tapi juga memiliki nilai bisnis yang nyata."</span></h4>
        </div>
    </div>
    <div class="cover-mask"></div>
</div>