{{ partial "header" . }}

<main id="site-main" class="site-main">
    <div class="featured-content">
        <div class="post-slider">

             {{ partial "post-carousel" . }}

        </div>
    </div>
    <div class="main-content home-layout">
        <div class="content-area container">
            <div class="post-feed__wrapper">

            {{ range ( .Paginate (where .Data.Pages "Type" "post")).Pages }}
                {{ .Render "summary"}}
            {{ end }}

            </div>
                    
            {{ partial "pagination.html" . }}

        </div>
    </div>
</main>

{{ partial "footer" . }}

