{{ partial "header.html" . }}

<main id="site-main" class="site-main">
  {{ if .Params.header_bg }}
   <div class="header-custom__wrapper" style="background: url({{ $baseurl := .Site.BaseURL }}/images/bg-bl.svg) left bottom no-repeat,url({{ $baseurl := .Site.BaseURL }}/images/bg-br.svg) right bottom no-repeat,{{ .Params.header_bg }}">{{ end }}
      <div class="container">
          <header class="post-header__custom">
               <h1 class="post-title">{{ .Title }}</h1>
           </header>
           <div class="featured-image">
                  {{ if .Params.image }}  
                    <div class="post-media">
                        <a href="{{ .Permalink }}" class="post-link">
                            <figure>
                                <img class="post-image" src="{{ .Params.image | relURL }}" alt="{{ .Title }}">
                            </figure>
                        </a>
                    </div>
                {{ end }}
           </div>
      </div>
   </div>
  
    <div class="main-content post-layout">
        <div class="content-area single-post single-post__wrapper">
            <article class="post-article">
                <div class="post-content">
                    {{ .Content }}
                </div>

                {{ partial "register-box.html" . }}

                <footer class="post-footer">
                    <div class="post-footer__wrapper">
                        <div class="post-footer__tags">

                        {{ if .Params.tags }}
                        <span class="post-footer__tags-item"><b>Tags: </b>
                        {{ range $index, $tag := .Params.tags }}{{ if gt $index 0 }} {{ end }}<a class="post-footer__tags-link" href="{{ "tags/" | relLangURL }}{{ . | urlize | lower }}" rel="tag">{{ . }}</a>{{ end }}
                        </span>
                        {{ end }}

                        </div>

                        {{ partial "social-share.html" . }}

                    </div>

                    {{ partial "post-nav.html" . }}

                </footer>
            </article>
        </div>
        {{ partial "quote-box.html" . }}

        <!-- related posts with the same tags -->
            {{ partial "related-posts.html" . }}

            {{ if and .Site.DisqusShortname (not .Params.disableComments) }}
                {{ template "_internal/disqus.html" . }}
            {{ end }}
    </div>
</main>

{{ partial "footer.html" . }}