/* Post Footer
/* ---------------------------------------------------------- */

.post-footer__wrapper {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-bottom: 1.5em;
    margin-bottom: 1.5em;
    border-bottom: 1px solid var(--border-color);
}
.post-footer__tags-link {
    color: var(--link-color);
    font-size: 1.4rem;
    text-transform: lowercase;
    background: var(--body-background);
    padding: 5px 10px;
    margin-left: 8px;
}
.more-post {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}
.prev-post,
.next-post {
    font-weight: 500;
    color: var(--secondary-text-color);
    
    &:hover {
        color: var(--hovered-link-color);
        text-decoration: none;
    }
}
.social-share__icon {
    display: inline-block;
    text-align: center;
    width: 32px;
    height: 32px;
    line-height: 32px;
    color: var(--light-text-color);
    margin-left: 8px;

    &:hover {
        transform: scale(1.06);
    }
}
.fb-icon {
    background: var(--fb-color);
}
.tw-icon {
    background: var(--tw-color);
}
.gplus-icon {
    background: var(--gplus-color);
}

/*post navigation*/
.post-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}
.prev-post,
.next-post {
    font-weight: bold;

    &:hover {
        color: var(--red-color);
    }
}

/*author box*/
.author-box {
    display: flex;
    padding: 2em 1.5em;
    background: var(--body-background);
    margin-bottom: 2em;
}
.author-box__media {
    width: 180px;
    margin-right: 1.5em;

    img {
        width: 120px;
    }
}
.author-box__name {
    text-transform: capitalize;
}

@media (--small-screen) {
    .post-footer {
        flex-direction: column;
        padding: 0 1em 1.5em;
    }
    .post-footer-tags {
        margin-bottom: 1.5em;
    }
    .author-card {
        flex-direction: column;
        text-align: center;
    }
    .author-card-profile-image {
        margin: 0 auto 1em;
    }
    .social-profiles-icon:last-child {
        margin-right: 0;
    }
}