/* Post Content
/* ---------------------------------------------------------- */

.post-layout {
    background: var(--main-background);
}
.single-post__wrapper {
    margin: 0 auto;
    max-width: 720px;
    width: 100%;
}
.single-post {
     padding: 3em 0;
}
.header-custom__amp {
    background: var(--carrot);
}
.post-header__custom-amp {
    padding: 1.5em;
}
.post-title {
    color: var(--light-text-color);
    font-size: 2.5rem;
    text-align: center;
    margin: 0.5em 0;
}
.featured-image__custom-amp {
    width: 600px;
    margin: 0 auto;
}

.post-tags {
    font-weight: bold;
    color: var(--nav-background);
}
.post-author__link {
    text-transform: capitalize;
}
.post-content p {
    font-size: 1.7rem;
}
.sub-header__wrapper {
    position: relative;
    background-position: bottom;
    background-size: 1000px;
    background-repeat: no-repeat;
}
.post-cover {
    position: relative;
}
.post-image {
    display: block;
    margin: 0 auto;
}
.sub-header__wrapper:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 300%;
    left: -100%;
    top: 0;
    background-repeat: no-repeat;
}
.lightblue-color:before {
    background: #7BA2B3;
}
.lightgreen-color:before {
    background: #21BAB5;
}
.darkblue-color:before {
     background-color: #0a3d62;
}
.darkviolate:before {
    background-color: #5b4d77;
}
.greensea-color:before {
    background-color: #268c9a;
}
.greenlight-color:before {
    background-color: #018D8E;
}
.darkred-color:before {
    background-color: #d34f4c;
}
.orange-color:before {
    background-color: #f29145;
}
.lightred-color:before {
    background: #EA4529;
}
.pink-color:before {
    background: #F1545D;
}
.lightgrey-color:before {
    background: #546E7B;
}
.sub-header__box {
    padding: 1.5em 0 0;
    margin-bottom: 1.5em;
    
    & h2 {
        font-weight: 700;
    }
}
.sub-header__space {
    padding: 1.5em;
    margin-bottom: 1.5em;
}
.sub-header__intro {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--light-text-color);
    position: relative;
    margin-bottom: 0.5em;
}
.sub-header__title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 200;
    color: var(--light-text-color);
    position: relative;
    margin: 0;
}
.content-list__wrapper {
    border: 1px solid var(--border-color);
    padding: 1em 1.5em 0;
    margin-bottom: 2em;
}
.content-list__header {
    text-align: center;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 1em;
    margin-bottom: 1.5em;
    
    & span {
        font-weight: bold;
        color: var(--primary-text-color);
    }
}
.content-list__post {
    & ul {
        list-style: none;
        padding: 0;
    }

     & > ul > li {
         padding-left: 20px;
        position: relative;

        &:before {
            content: '';
            display: block;
            position: absolute;
            height: 6px;
            width: 6px;
            left: 0;
            top: 7px;
            border: 2px solid var(--orange);
        }
    }
}
amp-accordion section h4 {
    color: var(--secondary-text-color);
    padding: 6px 10px;
    outline: none;
}
amp-accordion section p,
amp-accordion section div {
    padding: 0 0.75em;
}

/*register box*/

.register-box {
    margin-top: 2em;
    margin-bottom: 2em;
}

.register-box__head {
    padding: 1em 0;
    border-bottom: 1px solid hsl(0, 0%, 90%);
    margin-bottom: 1.5em;
}
.register-box__title {
    margin: 0;
}
.register-box__body {
    padding: 1em 1.5em 2em;
}
.post-footer__wrapper {
    display: flex;
    justify-content: space-between;
}

/*social share*/
amp-social-share[type="facebook"] {
  border: 4px solid #3b5998;
}
amp-social-share[type="twitter"] {
  border: 6px solid #1da1f2;
}
amp-social-share[type="gplus"] {
  border: 4px solid #dc4e41;
}
amp-social-share[type="whatsapp"] {
  border: 6px solid #25d366;
}
amp-social-share[type="email"] {
  border: 2px solid #000;
}

/*quote box*/
.quote-bg {
    background-image: url({{ $baseurl := .Site.BaseURL }}/images/paytren-banner.jpg);
}

@media (--small-screen) {
    .single-post__wrapper {
        padding: 2em 1.5em;
    }
    .button--space {
        margin: 0 0 1em 0;
    }
    .tren-headline {
        font-size: 2.6rem;
    }
}
