<div class="tren-quote tren-content cover-image is-cover-fixed quote-bg">
    <div class="container">
        <div class="tren-quote__content">
            <h2 class="tren-quote__text tren-quote__one">"Peluang Bisnis PayTren"</h2>
            <h3 class="tren-quote__text tren-quote__two">"Sukses itu pertemuan antara peluang dan kesiapan"</h3>
            <h2 class="tren-quote__text tren-quote__three">Kembangkan Bisnisnya Raih Kebebasan Waktu Dan Finansial Anda Bersama Komunitas PayTren</h2>
            <h4 class="tren-quote__text tren-quote__four">PayTren terbukti telah menghantarkan puluhan ribu mitra bisnisnya memiliki penghasilan Rp. 10 Juta hingga Rp. 300 Juta perbulan. Sekarang giliran Anda....</h4>
        </div>
    </div>
    <div class="cover-mask"></div>
</div>