<div class="tren-fail tren-content tren-content--dark-bg">
    <div class="container clearfix">
       <div class="tren-fail__cover tren-2-media">
            <amp-img class="amp-img" src="{{ $baseurl := .Site.BaseURL }}/images/tips-bisnis-paytren.png" alt="jangan daftar paytren" width="577" height="531" layout="responsive"></amp-img>
       </div>
        <div class="tren-fail__content tren-2-body is-center">
            <h3 class="tren-fail__headline danger-color">TAHUKAH ANDA?</h3>
            <h3 class="tren-fail__headline danger-color">Hanya Sedikit Orang Saja Yang Sukses Bisnis PayTren</h3>
            <div class="tren-fail__text">
                <P>Pertanyaannya: Kenapa sebagian besar Mitra Bisnis PayTren gagal menjalankan bisnisnya?</p>
                <h3>KARENA MEREKA TIDAK MENDAPAT BIMBINGAN LANGSUNG CARA MENJALANKAN BISNIS PAYTREN SECARA BENAR DARI SPONSORNYA</h3>
                <p>Untungnya, ketika anda gabung PayTren melalui kami, Anda akan langsung mendapat bimbingan secara lengkap dan detail cara penggunaan PayTren dan cara menjalankan bisnis PayTren dengan benar</p>
                <h3>SOLUSI PERMASALAHAN DIATAS, TELAH DIKEMAS DALAM BENTUK MODUL-MODUL PANDUAN DAN VIDEO YANG MUDAH DIPAHAMI</h3>
            </div>
        </div>
    </div>
</div>

<div class="tren-mentoring tren-banner">
     <div class="container">
        <header class="mentoring-header is-center">
           <h2 class="mentoring-title tren-title--light">Mentoring Bisnis PayTren Secara Online</h2>
        <p class="mentoring-sub-title tren-title--light">( Melalui Modul, Video, dan Tanya Jawab Grup Whatsapp Khusus )</p>
           <div class="mentoring-line"></div>
            <p class="mentoring-desc tren-title--light">Khusus bagi Anda yang beli lisensi bisnis PayTren melalui kami, Anda akan mendapatkan <b>Mentoring Bisnis PayTren dan Marketing Kit</b> untuk membantu Anda dalam memasarkan lisensi PayTren pada calon mitra baru.</p>
        </header>
        <div class="mentoring-wrapper clearfix">
            <div class="tren-3-media mentoring-image">
               <amp-img class="amp-img" src="{{ $baseurl := .Site.BaseURL }}/images/paytren.png" alt="paytren" width="400" height="340" layout="responsive"></amp-img>
            </div>
            <div class="tren-3-body mentoring-body tren-content tren-text--light">
                <ul>
                    <li>
                        <span class="mentoring-icon"><i class="icon-doc-text"></i></span>
                        <h4>Modul Panduan Bisnis PayTren</h4>
                    </li>
                    <li>
                        <span class="mentoring-icon"><i class="icon-video"></i></span>
                        <h4>Video Tutorial Cara Penggunaan Aplikasi PayTren</h4>
                    </li>
                    <li>
                        <span class="mentoring-icon"><i class="icon-whatsapp"></i></span>
                        <h4>Grup Ekslusif Member di Whatsapp</h4>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="treni-feature__wrapper-extra tren-content">
    <div class="container">
        <h3>Begini Detailnya Program Mentoring Online Bisnis PayTren ini Berlangsung:</h3>
        <div class="treni-feature__content clearfix">
            <div class="tren-feature__extra tren-2-column">
                <ul>
                    <li>
                        <span class="tren-feature__icon icon-list"><i class="icon-ok"></i></span>
                        <div class="tren-feature__info-extra">
                            <p>Setelah Anda join, Anda akan mendapatkan akses khusus menuju halaman yang berisi file-file berharga dalam program Mentoring Online ini</p>
                        </div>
                    </li>
                    <li>
                        <span class="tren-feature__icon icon-list"><i class="icon-ok"></i></span>
                        <div class="tren-feature__info-extra">
                            <p>Anda bisa belajar melalui Modul Panduan yang sudah disediakan dengan bahasa yang mudah dimengerti oleh semua pengguna PayTren</p>
                        </div>
                    </li>
                    <li>
                        <span class="tren-feature__icon icon-list"><i class="icon-ok"></i></span>
                        <div class="tren-feature__info-extra">
                            <p>Anda bisa tonton video-video tutorial penggunaan aplikasi PayTren secara detail dan lengkap</p>
                        </div>
                    </li>
                </ul>
            </div>    <!--end feature-list left-->
            <div class="tren-feature__extra tren-2-column">
                <ul>
                    <li>
                        <span class="tren-feature__icon icon-list"><i class="icon-ok"></i></span>
                        <div class="tren-feature__info-extra">
                            <p>Punya masalah? Anda bisa posting permasalahan Anda di grup WA dan tanyakan apa solusi terbaik atas permasalahan tersebut</p>
                        </div>
                    </li>
                    <li>
                        <span class="tren-feature__icon icon-list"><i class="icon-ok"></i></span>
                        <div class="tren-feature__info-extra">
                            <p>Masih bingung cara memulainya? Silahkan pelajari kembali materi-materi yang telah kami sediakan secara berulang-ulang</p>
                        </div>
                    </li>         
                </ul>
            </div> <!--end feature-list right-->  
        </div>   
    </div>
</div> <!-- end feature wrapper -->