  <div class="tren-banner">
      <div class="container">
         <header>
             <h2 class="tren-title--light tren-title--big is-center">Bagaimana Cara Daftar PayTren?</h2>
         </header>
         <div class="tren-text--light">
            <p>Setiap aplikasi smartphone yang menawarkan layanan dari sebuah perusahaan, pasti mewajibkan pada penggunanya untuk mendaftar akun terlebih dahulu.</p>
            <p>Aplikasi PayTren pun juga demikian, Anda harus mendaftar PayTren dulu sebelum bisa menggunakannya untuk melakukan transaksi pembayaran.</p>
            <p>Caranya sangat mudah, Anda hanya perlu mengikuti panduan cara daftar PayTren ini agar aplikasi PayTren Anda segera aktif.</p>
            <p>Meskipun aplikasi PayTren bisa didownload secara gratis melalui Google Play Store atau App Store di smartphone, Anda harus mengaktifkannya terlebih dahulu dengan cara membeli lisensi PayTren melalui kami selaku pembimbing pendaftaran resmi mitra PayTren.</p>
            <p>Anda bisa membeli lisensi PayTren yang berupa EPIN (nomor serial) melalui kami dengan cara klik tombol daftar sekarang kemudian mengisi form pendaftaran paytren sesuai data asli anda, atau cukup pesan via Whatssapp kami (085229009056).</p>
            <p>Selanjutnya Anda tinggal memasukkan EPIN pada aplikasi PayTren untuk melakukan proses aktifasinya.</p>
            
         </div>
         <div class="tren-register__header--center">
            <header>
                <h3 class="tren-title--light is-center">3 Langkah Mudah Cara Mendaftar PayTren:</h3>
            </header>
         </div>
         <div class="tren-register__wrapper clearfix is-center">
             <div class="tren-3-column">
                
                 <div class="tren-register__image">
                     <amp-img class="amp-img" src="{{ $baseurl := .Site.BaseURL }}/images/lisensi-paytren.svg" alt="lisensi paytren" width="105" height="105"></amp-img>
                 </div>
                 <div class="tren-register__body tren-text--light">
                     <h4 class="tren-title--light">Pilih Lisensi</h4>
                     <p>Pilih salah satu lisensi kemitraan PayTren berikut: lisensi Trial, lisensi bisnis Basic, lisensi bisnis Titanium</p>
                 </div>
             </div>
             <div class="tren-3-column">
                <div class="tren-register__image">
                     <amp-img class="amp-img" src="{{ $baseurl := .Site.BaseURL }}/images/beli-epin.svg" alt="beli epin" width="94" height="108"></amp-img>
                 </div>
                 <div class="tren-register__body tren-text--light">
                     <h4 class="tren-title--light">Beli EPIN</h4>
                     <p>Lakukan pemesanan EPIN pada sponsor Anda dengan cara transfer biaya pembelian lisensi ke Nomor Rekening Virtual Account PayTren a/n Akhlis Mujtahid selaku pembimbing pendaftaran PayTren resmi.</p>
                 </div>
             </div>
             <div class="tren-3-column">
                <div class="tren-register__image">
                     <amp-img class="amp-img" src="{{ $baseurl := .Site.BaseURL }}/images/aktifasi-paytren.svg" alt="aktifasi paytren" width="107" height="107"></amp-img>
                 </div>
                 <div class="tren-register__body tren-text--light">
                     <h4 class="tren-title--light">Aktifasi PayTren</h4>
                     <p>Lakukan aktifasi PayTren dengan memasukkan EPIN (nomor serial) pada aplikasi PayTren di smartphone.</p>
                 </div>
             </div>
         </div>
         
        <div class="tren-learn is-center">
            <button class="tren-learn__button--light"><a href="{{ $baseurl := .Site.BaseURL }}/cara-daftar-paytren">KLIK DISINI UNTUK MENGETAHUINYA LEBIH LANJUT</a></button>
        </div>
   
      </div>
   </div>

<div class="tren-content tren-content--light-bg">
    <div class="container">
       <h3 class="is-center">Berapa Biaya Daftar PayTren?</h3>
        <div>
            <p>Dengan menghitung banyaknya fitur-fitur yang dimiliki dan manfaat yang bisa diberikan oleh aplikasi PayTren pada penggunanya, seharusnya untuk membeli sebuah aplikasi ini sangatlah mahal, bahkan bisa sampai jutaan.</p>
            <p>Tapi karena tujuan perusahaan PayTren itu untuk mensejahterakan penggunanya dengan berbagi keuntungan dari setiap transaksi yang dilakukan, maka cukup dengan membeli lisensi basic PayTren seharga Rp. 350.000 saja Anda sudah resmi menjadi Mitra Bisnis PayTren.</p>
            <p>Dan pembelian lisensi PayTren itu cukup sekali saja sudah bisa digunakan untuk seumur hidup, bahkan bisa juga diwariskan ke anak cucu Anda nanti.</p>
            <p>Apalagi setelah menjadi Mitra Resmi PayTren, Anda juga berhak untuk menjalankan bisnis PayTren yang potensi keuntungannya sangat besar.</p>
        </div>
    </div>
</div>

<div class="tren-content tren-content--dark-bg">
    <div class="container">
       <h3 class="is-center">Bagaimana Cara Mendapatkan Serial PayTren?</h3>
        <div>
            <p>Seperti yang sudah Anda ketahui, agar aplikasi PayTren bisa digunakan untuk melakukan transaksi pembayaran, Anda perlu membeli lisensi PayTren terlebih dahulu lewat kami selaku Mitra Resmi PayTren.</p>
            <p>Dengan membeli lisensi PayTren, Anda akan mendapatkan serial PayTren (EPIN) yang dibutuhkan untuk mengaktifkan aplikasi PayTren di smartphone Anda.</p>
            <p>Anda bisa memesan EPIN dengan cara klik tombol <a href="/daftar-paytren">Daftar</a> kemudian mengisi lengkap form pendaftaran PayTren sesuai data asli anda, atau cukup dengan memesan EPIN via <a href="https://api.whatsapp.com/send?phone=6285229009056&text=Saya%20Mau%20Daftar%20PayTren%20Lisensi%20Basic%20%0AAtas%20%0ANama%20%3A%0AAlamat%20Lengkap%20%3A" target="_blank">Whatsapp</a> kami (085229009056).</p>
        </div>
    </div>
</div>

<div class="tren-content tren-content--light-bg">
    <div class="container">
        <h3 class="is-center">Bagaimana Cara Aktivasi Aplikasi PayTren?</h3>
        <div>
            <p>Setelah Anda mendapatkan EPIN atau nomor serial yang diperlukan untuk aktivasi aplikasi PayTren di smartphone, anda tinggal memasukkannya saja pada proses pendaftaran aplikasi di smartphone.</p>
            <p>Untuk aktivasi aplikasi Paytren silahkan mengikuti langkah-langkah berikut:</p>
            <ul>
                <li>Download aplikasi PayTren terlebih dahulu di Google Play Store / App Store dengan mengetik ”Paytren Official“ dikolom pencarian</li>
                <li>Buka aplikasi klik icon ” Login ” di pojok kiri atas, anda masuk halaman Login dan Daftar</li>
                <li>Pilih Menu ” DAFTAR “, Masukan 12 Nomor serial Aktivasi yang sudah saya berikan.</li>
                <li>Klik “Lanjutkan”, Baca syarat dan ketentuan serta kode ETIK PayTren hingga selesai prosesnya.</li>
                <li>Anda mendapatkan INFO ID MITRA, PIN DAN PASSWORD untuk transaksi melalui SMS Server Perusahaan</li>
                <li>Login ke aplikasi dengan informasi ID Mitra yang anda terima.</li>
                <li>Selamat. PayTren Anda sudah siap digunakan untuk transaksi.
            </ul>
        </div>
    </div>
</div>

<div class="tren-sub-title tren-title__dark-bg">
    <div class="container">
        <h2 class="tren-title--light">Bagaimana Cara Kerja PayTren?</h2>
    </div>
</div>
<div class="tren-content tren-content--light-bg">
    <div class="container">
        <div class="tren-box">
            <div class="tren-image amp-img">
               <amp-img class="amp-img" src="{{ $baseurl := .Site.BaseURL }}/images/cara-kerja-paytren.png" alt="cara kerja paytren" width="520" height="320"></amp-img>
            </div>
        </div>
        <div class="">
            <p>Sebenarnya cara kerja aplikasi PayTren sangat sederhana, Anda hanya perlu mengalihkan semua transaksi pembayaran dan pembelian seperti: beli pulsa HP, paket data internet, token listrik, bayar PDAM, Telkom, bayar tagihan kendaraan, dan lainnya ke aplikasi PayTren.</p>
            <p>Anda tidak perlu lagi repot keluar rumah dan mengantri di loket-loket pembayaran dan konter pulsa, karena cukup dengan aplikasi PayTren di HP saja, Anda bisa melakukan semua transaksi tersebut dengan mudah, praktis, dan lebih hemat tentunya.</p>
            <p>Karena dengan menggunakan aplikasi PayTren, banyak manfaat dan keuntungan yang bisa Anda dapatkan. Salah satunya yang paling menarik yaitu, Anda akan mendapatkan cashback dari setiap transaksi yang anda lakukan.</p>
        </div>
    </div>
</div>


<div class="tren-sub-title tren-title__dark-bg">
    <div class="container">
        <h2 class="tren-title--light">Bagaimana Cara Menjalankan Bisnis PayTren?</h2>
    </div>
</div>
<div class="tren-businness tren-content">
    <div class="container">
        <div class="">
            <p>Sudah tidak terbantahkan lagi kalau saat ini bisnis PayTren telah menjadi solusi cerdas bagi Anda yang ingin mulai menjalankan bisnis sendiri dengan modal kecil tapi memiliki potensi keuntungan yang besar.</p>
            <p>Selain karena minim resiko kerugian, bisnis PayTren bisa dijalankan tanpa memerlukan keahlian khusus.</p>
            <p>Bahkan bisnis PayTren juga bisa dijalankan sebagai bisnis utama maupun dijadikan bisnis sampingan disela-sela kesibukan kerja Anda.</p>
            <p>Jadi sayang banget kalau Anda sudah mengetahui peluang bisnis PayTren, tapi masih menunda-nunda untuk ikut menjalankan bisnisnya.</p>
            <p>Karena sebenarnya, cara menjalankan bisnis PayTren itu sangat mudah. Yang paling penting Anda mau gabung aja dulu menjadi Mitra Bisnis PayTren.</p>
            <p>Setelah Anda gabung menjadi Mitra Bisnis PayTren, Anda bisa belajar banyak di komunitas Paytren kami. Anda akan mendapatkan bimbingan dari pebisnis PayTren yang lebih berpengalaman.</p>
            <p>Anda juga bisa langsung memperkenalkan aplikasi PayTren dengan cara berbagi pengalaman menarik dan manfaat serta keuntungan yang bisa Anda rasakan setelah menggunakan aplikasi PayTren pada orang-orang terdekat Anda, misalnya saudara, teman, tetangga, atau siapa saja orang yang Anda temui.</p>
            <p>Kalau mereka tertarik juga dengan aplikasi PayTren, kemudian tawarkan pada mereka agar mau membeli lisensi PayTren melalui Anda.</p>
            <p>Anda pun juga bisa menggunakan media internet untuk melakukan promosi, bisa menggunakan Whatsaap, Telegram, Facebook, Intagram, maupun website sendiri.</p>
        </div>
    </div>
</div>