<div class="tren-stop tren-content tren-content--dark-bg">
    <div class="container clearfix">
        <div class="tren-2-media">
           <amp-img class="amp-img" src="{{ $baseurl := .Site.BaseURL }}/images/stop-paytren.png" alt="jangan daftar paytren" width="517" height="367" layout="responsive"></amp-img>
        </div>
            
        <div class="tren-2-body">
            <h2 class="tren-stop__headline is-center">STOP!!!</h2>
            <div class="tren-stop__text is-center">
                <h4>Jangan dulu buru-buru <b>PUTUSKAN BELI</b>, sebelum Anda lihat apa kata mereka yang sudah mendapat banyak manfaat dari aplikasi PayTren.</h4>
                <div class="tren-stop__arrow">
                   <amp-img class="amp-img" src="{{ $baseurl := .Site.BaseURL }}/images/animated-red-down-arrow.gif" alt="jangan daftar paytren" width="273" height="144" layout="responsive"></amp-img>
                </div>
            </div>
        </div>  
    </div>
</div>

<div class="tren-sub-title tren-title__bg">
    <div class="container">
        <h2 class="tren-title--light">SIMAK APA KATA MEREKA TENTANG APLIKASI PAYTREN</h2>
    </div>
</div>

<div class="tren-testimoni">
    <div class="container">
        <div class="tren-testimoni__wrapper tren-box">
            <amp-instagram
                data-shortcode="Besq48RhnD0"
                data-captioned
                width="400"
                height="400"
                layout="responsive">
            </amp-instagram>
          
            <amp-instagram
                data-shortcode="BaaGb_vngPN"
                data-captioned
                width="400"
                height="400"
                layout="responsive">
            </amp-instagram>

            <amp-instagram
                data-shortcode="BSjPo4wjhGk"
                data-captioned
                width="400"
                height="400"
                layout="responsive">
            </amp-instagram>
            
            <amp-instagram
                data-shortcode="BeMzwd0B-7x"
                data-captioned
                width="400"
                height="400"
                layout="responsive">
            </amp-instagram>
            
        </div>
    </div>
</div>