<div class="tren-sub-title tren-title__dark-bg">
    <div class="container">
        <h2 class="tren-title--light">Kenapa Anda harus Menggunakan Aplikasi PayTren?</h2>
    </div>
</div> 
<div class="tren-feature tren-content--light-bg">
    <div class="container">
        <h4 class="tren-content__title is-center">Dengan menggunakan aplikasi PayTren, Cukup lewat HP saja Anda bisa melakukan:</h4>
        <div class="tren-content clearfix">
            <div class="tren-feature__media tren-3-media">
               <amp-img class="amp-img" src="{{ $baseurl := .Site.BaseURL }}/images/fitur-paytren.png" alt="manfaat aplikasi paytren" width="600" height="1000" layout="responsive"></amp-img>
            </div> 
             <div class="tren-feature__body tren-3-body">
                <ul>
                    <li>
                        <span class="tren-feature__icon icon-box"><i class="icon-mobile"></i></span>
                        <div class="tren-feature__info">
                            <h4>Pembelian Pulsa HP & Token Listrik PLN</h4>
                            <p>Isi pulsa HP ( Telkomsel, Smartfren, Indosat, XL, Three, Flexi, Esia, Ceria, Bolt,Axis,Tellin Hongkong ),token listrik PLN,  Top TV, TV Pra Kvision, TV Pra Orange, TV Pra Topas, Dll</p>
                        </div>
                    </li>
                     <li>
                        <span class="tren-feature__icon icon-box"><i class="icon-flight"></i></span>
                        <div class="tren-feature__info">
                            <h4>Pembelian Tiket Pesawat & Kereta Api</h4>
                            <p>Mau bepergian? Anda bisa beli tiket pesawat dan kereta api ( dalam pengembangan ) cukup melalui handphone anda. Praktis dan tidak ribet.</p>
                        </div>
                    </li>
                     <li>
                        <span class="tren-feature__icon icon-box"><i class="icon-signal-1"></i></span>
                        <div class="tren-feature__info">
                            <h4>Pembelian Pulsa Malaysia ( baru )</h4>
                            <p>Paytren Go Internasional, kini operator seluler Malaysia ada di Paytren seperti Buzzme, Celcom, Digi, Frlendi, Maxis, Merchanttrade, Mol Points,Tron, Tuntalk, Umobile, XOX, YES, dll.</p>
                        </div>
                    </li>
                    <li>
                        <span class="tren-feature__icon icon-box"><i class="icon-gamepad"></i></span>
                        <div class="tren-feature__info">
                            <h4>Pembelian Voucher Games</h4>
                            <p>Berbagai voucher games online ada di Paytren seperti Games Cherry Credits, Games Digicash, Garena, Gemscool, LYTO,Megaxus, MOL POINT,Orange Games, dan lain-lain</p>
                        </div>
                    </li>
                    <li>
                        <span class="tren-feature__icon icon-box"><i class="icon-check"></i></span>
                        <div class="tren-feature__info">
                            <h4>Cek & Bayar Tagihan</h4>
                            <p>Bayar Listrik PLN, Telkom, Telkomvision, Speedy, PDAM, tagihan kartu Hallo,tagihan finance ( Adira, BAF, FIF, MAF, MCF, WOM ) Tagihan TV berbayar Okevision dan Indovision.</p>
                        </div>
                    </li>
                     <li>
                        <span class="tren-feature__icon icon-box"><i class="icon-signal"></i></span>
                        <div class="tren-feature__info">
                            <h4>Pembelian Paket Data Internet</h4>
                            <p>Mudah beli paket data internet via paytren, Data AXIS, Data Indosat, Data Telkomsel, Data Three, Data XL, SMS Indosat, BOLT, dan lain-lain.</p>
                        </div>
                    </li>
                     <li>
                        <span class="tren-feature__icon icon-box"><i class="icon-gift"></i></span>
                        <div class="tren-feature__info">
                            <h4>Sedekah & Aqiqah</h4>
                            <p>Mitra paytren bisa melakukan charity / sedekah menggunakan deposit paytren. Sedekah disalurkan melalui PPPA Darul Quran Nusantara asuhan Ustadz Yusuf Mansur. Serta Aqiqah.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="tren-feature__wrapper-extra">
    <div class="container">
        <h4 class="tren-content__title is-center">Anda Pun Juga Berhak Mendapat Fitur-fitur extra dan Program Affiliasi PayTren Yang Sangat Bermanfaat Berikut Ini:</h4>
        <div class="tren-feature__content tren-content clearfix">
            <div class="tren-feature__extra tren-2-column">
                <ul>
                    <li>
                        <span class="tren-feature__icon icon-list"><i class="icon-ok"></i></span>
                        <div class="tren-feature__info-extra">
                            <h4>Ibuk ( Ebook ) Store</h4>
                            <p>Mau membaca ebook-ebook keren dari Ust. Yusuf Mansur dan penulis lainnya? Kamu bisa membelinya dengan deposit paytren di menu EBOOK. Mudah dan cepat prosesnya, bermanfaat ebooknya.</p>
                        </div>
                    </li>
                     <li>
                        <span class="tren-feature__icon icon-list"><i class="icon-ok"></i></span>
                        <div class="tren-feature__info-extra">
                            <h4>News Update</h4>
                            <p>PayTren terus menyajikan berita terbaru tentang kegiatan apapun yang menghubungkan PayTren dengan Mitra. Serta informasi menarik dengan berita-berita yang positif.</p>
                        </div>
                    </li>
                     <li>
                        <span class="tren-feature__icon icon-list"><i class="icon-ok"></i></span>
                        <div class="tren-feature__info-extra">
                            <h4>PayTren Umrah Merdeka</h4>
                            <p>Mitra PayTren berkesempatan untuk mengikuti program tabungan umroh untuk mempercepat impian ke Baitullah. Syarat daftar mudah dengan beragam nilai lebih.</p>
                        </div>
                    </li>
                      <li>
                        <span class="tren-feature__icon icon-list"><i class="icon-ok"></i></span>
                        <div class="tren-feature__info-extra">
                            <h4>Kuliah Online SMI</h4>
                            <p>Mitra paytren juga bisa mendaftar kuliah online khusus bernama Selamat Morning Indonesia. Biaya hanya Rp.50rb/Tahun. Materi dikirim via Grup Whatsapp. dan tersedia grup Diskusi SMI.</p>
                        </div>
                    </li>
                       <li>
                        <span class="tren-feature__icon icon-list"><i class="icon-ok"></i></span>
                        <div class="tren-feature__info-extra">
                            <h4>Asuransi Protren Asyki</h4>
                            <p>Asuransi ini adalah kerjasama antara Paytren dengan Asuransi Asyki ( Asuransi Syariah keluarga Indonesia ). Hanya Rp.10.000/bulan dibayar dengan saldo paytren.</p>
                        </div>
                    </li>
                </ul>
            </div>    <!--end feature-list left-->
             <div class="tren-feature__extra tren-2-column">
                <ul>
                     <li>
                        <span class="tren-feature__icon icon-list"><i class="icon-ok"></i></span>
                        <div class="tren-feature__info-extra">
                            <h4>Loket PayTren</h4>
                            <p>Mitra bisa mendaftar program loket paytren khusus bagi mitra yang ingin membuka jasa loket pembayaran. Tanpa biaya pendaftaran,fleksibel dan fee yang kompetitif.</p>
                        </div>
                    </li>
                     <li>
                        <span class="tren-feature__icon icon-list"><i class="icon-ok"></i></span>
                        <div class="tren-feature__info-extra">
                            <h4>Inspirasi UYM</h4>
                            <p>Adalah catatan inspirasi bisnis, motivasi hidup langsung dari Ust. Yusuf Mansur sebagai ownernya. Kamu dapat baca kapan saja di aplikasi paytren. Sangat bermanfaat!</p>
                        </div>
                    </li>
                       <li>
                        <span class="tren-feature__icon icon-list"><i class="icon-ok"></i></span>
                        <div class="tren-feature__info-extra">
                            <h4>Paytren Messenger</h4>
                            <p>Mitra Paytren tak hanya mendapatkan aplikasi, tetapi juga tersedia aplikasi chating khusus mitra paytren yaitu Paytren Messenger ( PM ) yang tak kalah dengan aplikasi chating sejenisnya.</p>
                        </div>
                    </li>
                        <li>
                        <span class="tren-feature__icon icon-list"><i class="icon-ok"></i></span>
                        <div class="tren-feature__info-extra">
                            <h4>Merchant</h4>
                            <p>Perusahaan juga menyediakan produk halal dan bermanfaat yang bisa dimanfaatkan oleh setiap mitra Paytren untuk di komsumsi pribadi maupun orang lain.</p>
                        </div>
                    </li>
                </ul>
            </div> <!--end feature-list right-->  
        </div>

        <div class="tren-learn is-center">
            <button class="tren-learn__button"><a href="">KLIK DISINI UNTUK MENGETAHUINYA LEBIH LANJUT</a></button>
        </div>

    </div>
</div> <!-- end feature wrapper -->

<div class="tren-sub-title tren-title__dark-bg">
    <div class="container">
        <h2 class="tren-title--light">Apa Keuntungan Menggunakan PayTren Bagi Mitra Bisnis Seperti Anda?</h2>
    </div>
</div> 
<div class="tren-benefit tren-content tren-content--light-bg">
    <div class="container">
      <p>Tahukah Anda kalau saat ini aplikasi PayTren telah digunakan oleh lebih dari 1.7 juta orang yang tersebar di 34 negara dan masih akan terus bertambah setiap harinya?</p>
      <p>Hal itu membuktikan banyaknya masyarakat yang telah terbantu dan merasakan manfaat serta keuntungan menggunakan PayTren. Berbagai macam transaksi kini dengan mudah bisa dilakukan cukup via Handphone kapan dan dimana saja.</p>
      <p>Hanya dengan memasang aplikasi PayTren di HP saja, Anda akan memperoleh keuntungan menggunakan PayTren berikut ini:</p>
       <div class="tren-benefit__wrapper clearfix">
            <div class="tren-benefit__list tren-2-column">
                <ul>
                    <li><b>Lebih Praktis, Hemat, dan Efisien</b></br>Aktifitas pembayaran apapun kini bisa melalui aplikasi PayTren di Smartphone. Anda tidak perlu lagi menghabiskan waktu dan tenaga menuju ke loket-loket pembayaran atau konter-konter pulsa, cukup darimana saja dan kapan saja pembayaran bisa anda lakukan.</li>
                    <li><b>Dapat Cashback dari setiap transaksi</b></br>Bayar apapun jadi lebih untung karena Anda akan mendapat cashback langsung dari setiap transaksi yang anda lakukan</li>
                    <li><b>Tanpa Biaya Tersembunyi</b></br>Cukup bayar lisensi aplikasi sekali, Anda bisa menggunakannya untuk seumur hidup bahkan bisa diwariskan. Bebas administrasi bulanan dan tanpa saldo minimum.</li>
                    <li><b>Biaya Admin Transaksi (Bayar Tagihan) Lebih Murah</b></br>Anda bisa lebih menghemat biaya transaksi pembayaran tagihan rutin setiap bulan.</li>
                </ul>
            </div>
            <div class="tren-benefit__list tren-2-column">
                <ul>
                    <li><b>Dapat Fasilitas DOKU Wallet (Uang Elektronik/E-Money)</b></br>Anda bisa menggunakan saldo PayTren untuk melakukan transaksi belanja dan tarik tunai di toko-toko atau merchant yang menjalin kerja sama dengan DOKU Wallet.</li>
                    <li><b>Sedekah Otomatis</b></br>Transaksi Anda lebih berkah karena sebagian keuntungan dari perusahaan PayTren telah dialokasikan untuk sedekah.</li>
                    <li><b>Bernilai Bisnis</b></br>Anda bebas menggunakan PayTren untuk dimanfaatkan sendiri atau menjalankan bisnisnya dengan menjadi Mitra Bisnis PayTren.</li>
                    <li><b>Berhak Mengikuti Program-program Affiliasi PayTren</b></br>Menjadi mitra PayTren Anda mempunyai kesempatan untuk mengikuti program-program ekstra maupun program Affiliasi PayTren seperti: Belanjaqu, PayTren umroh merdeka, merchant, loket PayTren, fintren, dan PayTren TV.</li>
                </ul>
            </div>   
       </div> <!-- end wrapper -->
    </div>      
</div>