<div class="tren-sub-title tren-title__bg">
    <div class="container">
        <h2 class="tren-title--light">Bagaimana Cara Kerja Bisnis PayTren?</h2>
    </div>
</div>
    
<div class="tren-working tren-content tren-content--light-bg">
    <div class="container">
        <h4 class="tren-working__headline">Cara Kerja Bisnis Paytren sangat Sederhana, Ada 2 Cara Yang Bisa Anda Lakukan:</h4>
        <div class="tren-working__content">
            <ol>
                <li>
                    <p>Dengan <b>mengalihkan kebiasaan transaksi pengeluaran rutin</b> anda seperti: beli pulsa, bayar PLN, PDAM, Telkom, dll yang biasanya anda bayar melalui counter, banking, dll ke aplikasi PayTren, karena melalui aplikasi ini banyak keuntungan dan manfaat yang bisa didapatkan.</p>
                    <p>Dan yang paling menarik yaitu, dari setiap transaksi yang anda lakukan, anda akan mendapat cashback (bonus) dari setiap transaksinya. ENAK BANGET KAN...!</p>
                </li>
                <li>
                    <p>Dengan <b>menjalankan bisnisnya</b> melalui program "CRP" ( CUSTOMER REFERRAL PROGRAM ). Jika Anda menjalankan program CRP ini, anda mempunyai potensi untuk memiliki tambahan penghasilan yang bisa anda tentukan sendiri besarnya. Artinya, ketika anda Rajin dan Bekerja Keras, maka hasil yang akan anda dapatkan pun akan sebanding dengan kerja keras anda.</p>
                    <p>Program CRP inilah yang dijalankan oleh para <b>Mitra Bisnis PayTren</b> untuk mendapatkan <b>penghasilan jutaan rupiah</b> dari bisnis <span class="treni-color">PayTren</span>.</p>
                    <p>Jika anda mengikuti program CRP ini, tugas utama anda sebagai Mitra Bisnis PayTren yaitu  menjual lisensi aplikasi PayTren ( aplikasi bayar-bayar berbasis OS Android dan iPhone ) ke pengguna smartphone dimanapun berada dengan harga lisensi yang sudah ditentukan oleh perusahaan PayTren ( paket lisensi basic seharga Rp. 350.000 ). Kemudian keuntungan Mitra Bisnis PayTren itu didapat dari komisi penjualan per lisensi sebesar Rp. 75.000,- yang diberikan oleh perusahaan PayTren.</p>
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="tren-sub-title tren-title__bg">
    <div class="container">
        <h2 class="tren-title--light">Kenapa Anda Harus Menjalankan Bisnis Paytren?</h2>
    </div>
</div>
    
<div class="tren-bisnis tren-content tren-content--light-bg">
    <div class="container">
        <div class="tren-bisnis__wrapper clearfix">
            <ul>
                <li>
                    <div class="tren-bisnis__image">
                        <figure>
                            <img class="" src="{{ $baseurl := .Site.BaseURL }}/images/mudah-terjual.png" alt="bisnis paytren">
                        </figure>
                    </div>
                    <div class="tren-bisnis__body">
                        <h4>Bisa darimana saja, tanpa ribet</h4>
                        <p>Udah tenang aja, Anda gak perlu menuhin gudang dengan stok barang. Anda pun gak perlu sibuk packing-packing setiap kali terjadi penjualan, karena yang Anda jual berupa produk digital berupa aplikasi smartphone. Tugas Anda cuma satu: promosi.</p>
                    </div>
                </li>
                <li>
                    <div class="tren-bisnis__image">
                        <figure>
                            <img class="" src="{{ $baseurl := .Site.BaseURL }}/images/unique-design.png" alt="bisnis paytren">
                        </figure>
                    </div>
                    <div class="tren-bisnis__body">
                        <h4>Profesi Sambilan, Tanpa Ganggu Kerjaan Utama.</h4>
                        <p>Apapun profesi Anda sekarang, entah itu pelajar, mahasiswa, pekerja kantoran, pegawai swasta, pengusaha, bahkan ibu-ibu rumah tangga, InsyaAllah tugas utama Anda gak akan keganggu. Kenapa? Karena jualannya bisa dijadikan sebagai sambilan. Santai aja. Pake online aja.</p>
                    </div>
                </li>
                <li>
                    <div class="tren-bisnis__image">
                        <figure>
                            <img class="" src="{{ $baseurl := .Site.BaseURL }}/images/komisi.png" alt="bisnis paytren">
                        </figure>
                    </div>
                    <div class="tren-bisnis__body">
                        <h4>Modal Kecil, Minim Banget.</h4>
                        <p>Bayangkan, modalnya kurang dari 1 juta rupiah, hanya 350 ribu rupiah, itupun hanya sebagai biaya pembelian lisensi PayTren yang Anda gunakan sendiri.</p>
                    </div>
                </li>
                <li>
                    <div class="tren-bisnis__image">
                        <figure>
                            <img class="" src="{{ $baseurl := .Site.BaseURL }}/images/cash-prize.png" alt="bisnis paytren">
                        </figure>
                    </div>
                    <div class="tren-bisnis__body">
                        <h4>Untung Besar, Hingga 75.000</h4>
                        <p>Uang komisi yang bakal Anda dapat setiap kali terjadi penjualan adalah sekitar 21% dari harga jual. Lumayan, buat uang jajan bulanan & tambah-tambah pemasukan.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="tren-sub-title tren-title__bg">
    <div class="container">
        <h2 class="tren-title--light">Benarkah Bisnis PayTren Sesuai Dengan Syariah?</h2>
    </div>
</div>

<div class="tren-syari tren-content--light-bg">
    <div class="container">
        <div class="tren-syari__media tren-box">
            <div class="tren-syari__video tren-youtube">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/zI-JNag4L3s" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
        <div class="tren-content">
            <p>Dalam menjalankan Suatu Bisnis, tentunya Kita Harus memperhatikan Aspek yang terpenting yaitu Apakah Halal dan Sudah memenuhi Kaidah-kaidah Syariah? Jika sudah memenuhi kaidah-kaidah Syariah, Insya Allah bisnis yang dijalankan Halal sehingga Insya Allah Berkah dalam bisnis tersebut.</p>
            
            <h4>Bagaimana dengan PayTren? Apakah Sudah SYARIAH dan HALAL?</h4>

            <p>Alhamdulillah, atas izin Allah SWT pada Tanggal 7 Agustus 2017, PayTren sudah dinyatakan bersertifikat Syariah oleh Dewan Syariah Nasional – Majelis Ulama Indonesia (DSN – MUI) sehingga ini menepis isu-isu miring diluar sana yang meragukan kesyariahan PayTren. Penyerahan Sertifikat Syariah ini langsung diberikan oleh Prof. Dr. (H.C.) KH. Ma’ruf Amin kepada Ustadz Yusuf Mansur.</p>

            <p>Setelah PayTren mendapatkan Izin Syariah DSN MUI ini, maka PayTren akan menjadi satu-satunya perusahaan Fintech Syariah Pertama di Indonesia, Manajemen Investasi Syariah Pertama di Indonesia, Direct Selling Syariah Pertama di Indonesia, dan ke depan akan mengajukan menjadi E-Money Syariah Pertama di Indonesia.</p>

            <p>Ini akan menjadi Terobosan di Dunia Fintech dan E-Money di Indonesia, karena Insya Allah PayTren akan menjadi Perusahaan dengan Sistem Bisnis Syariah di Indonesia yang mengedepankan keuntungan dikedua belah pihak antara Mitra dan Perusahaan, sehingga tidak akan ada kerugian dari pihak mana pun. Dan bukan Hal yang mustahil ke depan PayTren akan menjadi Perusahaan Syariah kelas Dunia yang benar-benar dibutuhkan oleh setiap Insan di Dunia dengan mengutamakan Kemudahan Transaksi dan Berjuta Manfaat di dalamnya.</p>
        </div>
    </div>
</div>