/* Comments
/* ---------------------------------------------------------- */

#disqus_thread {
    padding: 0 0 3em;
}
.single-post-comments {
    padding-top: 1.5em;
    margin-top: 1em;
    border-top: 1px solid var(--border-color);
}
.dsq-brlink {
    display: none;
}

@media (--small-screen) {
    #disqus_thread {
        padding: 0 5em;
    }
}